<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <th:block th:replace="~{fragments/menu::menuFragment}"></th:block>
    <main>
        <h1>NOTE MEMO</h1>
        <form method="post" action="/memo_input">
            writer <input name="writer"><br/>
            memo <input name="memo"><br/>
            <button type="submit">Done</button>
        </form>
        <table>
            <tr>
                <th th:text="ID"></th>
                <th th:text="Writer"></th>
                <th th:text="Memo"></th>
                <th th:text="Post_Date"></th>
                <th th:text="ETC"></th>
            </tr>
            <tr th:each="item:${memo_result}">
                <td th:text="${item.idx}"></td>
                <td th:text="${item.writer}"></td>
                <td th:text="${item.memo}"></td>
                <td th:text="${item.post_date}"></td>
                <td th:text="etc"></td>
            </tr>
        </table>
    </main>
</body>
</html>