<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <th:block th:replace="~{fragments/menu::menuFragment}"></th:block>
    <main>
        <h1>NOTE MEMO</h1>
        <form method="post" action="/memo_input">
            writer <input name="writer"><br/>
            memo <input name="memo"><br/>
            <button type="submit">Done</button>
        </form>
        <!-- <table>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Writer</th>
                <th scope="col">Memo</th>
                <th scope="col">Post_Date</th>
                <th scope="col">Etc</th>
            </tr>
            <tr>
                <td th:text="${item}"></td>
                <td th:text="${item}"></td>
            </tr>
        </table> -->
    </main>
</body>
</html>