<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        <!-- window.onload() 실행할 때 반드시 한 번 실행 -->
        // $(function () {
        //     alert('success');
        // });
    </script>
    <style>
        .board_table a:link {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <th:block th:replace="~{fragments/menu::menuFragment}"></th:block>
    <main>
    <h1 th:text="'Board List'"></h1>

    <table class="board_table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Post_Date</th>
            <th>Hits</th>
        </tr>
        <tr th:each="item:${boardList}">
            <td th:text="${item.id}"></td>
            <td>
                <a th:href="@{'/board/' + ${item.id}}"
                   th:text="${item.boardTitle}"></a>
            </td>
            <td th:text="${item.boardWriter}"></td>
            <td th:text="${#temporals.format(item.boardCreatedTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${item.boardHits}"></td>
        </tr>
    </table>
    </main>
</body>
</html>