<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <main>
    <h1 th:text="'Board Form'" />

    <form method="post" action="/save">
        <input type="text" name="boardWriter" placeholder="작성자">
        <input type="password" name="boardPass" placeholder="비밀번호">
        <input type="text" name="boardTitle" placeholder="제목">
        <textarea name="boardContents" placeholder="내용을 입력하세요"></textarea>
        <button type="submit">작성</button>
    </form>
    </main>
</body>
</html>