<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.study.boardMybatis.DAO.commentDAO">
    <insert id="insert" parameterType="kr.hs.study.boardMybatis.DTO.commentDTO">
        insert into comment1(id, commentWriter, commentContents, boardId) values(comment_seq.nextval, #{commentWriter}, #{commentContents}, #{boardId})
    </insert>
    <select id="selectAll">
        select * from comment1 order by id DESC
    </select>
</mapper>
